@import "./general/general.scss";

.app {
    &__wrapper {
        height: 100vh;
        width: 100vw;
    }

    &__container {
        position: relative;
        height: 100vh;
        width: 100vw;

        display: flex;
        justify-content: center;

        background-color: $black;
    }

    &__background-wrapper {
        height: 100vh;
    }

    &__background-img {
        height: 100%;
        width: auto;
    }

    &__content-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 1rem;
    }

    &__content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem 1rem 2rem 1rem;
        max-width: 50rem;
        border-radius: 2rem;
        border: 2px solid $black;
        background-color: $white;
    }

    &__content-title {
        @include font (5rem);
        color: $black;
        text-shadow: 2px 2px $gray;
        text-transform: uppercase;
    }

    &__content-advice {
        margin: 3rem 0;
        @include font (3rem);
        color: $black;
        text-align: center;
        text-shadow: 2px 2px $gray;
    }

    &__content-btn {
        padding: 1rem 2rem;
        border-radius: 2rem;
        border: 2px solid $black;
        background-color: $white;
        @include font (1.5rem);
        color: $black;
        text-transform: uppercase;
        box-shadow: inset 0 0 5px 5px $gray;

        transition: all 0.3s linear;

        &:focus,
        &:hover {
            background-color: $gray;
        }

        &:active {
            box-shadow: 0 0 5px 5px $gray;
        }
    }

    &__copyright {
        position: absolute;
        bottom: 2rem;
        left: 0;
        right: 0;

        @include font (1rem);
        color: $white;
        text-align: center;
    }
}